@{
    ViewData["Title"] = "Home Page";
    <style>
        .parallax {
            background: url('../../wwwroot/images/backgroundimages/wp3184114.jpg') no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            height: 500px;
        }
    </style>
}
<div>
    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>

<div class="parallax">

</div>
<div>
    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>
