@model CocktailMagicianWeb.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/Parallax.css" rel="stylesheet" />
    <link href="~/css/HomePageTable.css" rel="stylesheet" />
    <style>
        .newItems {
            padding: 35px;
            height: 80%;
        }

        /*table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
            background-color: snow;
            opacity: 0.8
        }

        th {
            font-family: arial, sans-serif;
            background-color: #ff0000;
        }

        td, th {
            width: 20%;
        }*/
    </style>

}
<body>

    <div style="z-index:-1" class="Container">

        <div id="parallax1" class="Basic-Div Parralax-items firstDiv">
            <h2 class="cola">Welcome.</h2>
        </div>

        <div class="Basic-Div Parralax-items SecondDiv">
            <h2 class="cola">We_have the biggest collection of bars</h2>
        </div>

        <div class="Basic-Div Parralax-items ThirdDiv">
            <h2 class="cola">And cocktails too.</h2>
        </div>

        <div class="Basic-Div Parralax-items FifthDiv">
            <h2 class="cola">Our newest additions.</h2>
        </div>
        <div id="parallax2" class="Basic-Div Parralax-items FourthDiv">
            <div class="newItems">
                <div class="table-users">
                    <div class="header">Bars</div>

                    <table cellspacing="0">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Rated</th>
                        </tr>
                        @foreach (var bar in Model.Bars)
                        {
                            <tr>
                                <td>
                                    @if (bar.CurrentPicture != null)
                                    {
                                        <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(bar.CurrentPicture)))" alt="" />
                                    }
                                </td>
                                <td>
                                    @bar.Name
                                </td>
                                <td style="text-align:center" ;>
                                    @bar.Rating
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="newItems">
                <div class="table-users">
                    <div class="header">Cocktails</div>

                    <table cellspacing="0">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Rated</th>
                        </tr>
                        @foreach (var cocktail in Model.Cocktails)
                        {
                            <tr>
                                <td>
                                    @if (cocktail.Picture != null)
                                    {
                                        <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(cocktail.Picture)))" alt="" />
                                    }
                                </td>
                                <td>
                                    @cocktail.Name
                                </td>
                                <td style="text-align:center" ;>
                                    @cocktail.Rating
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

</body>
@section Scripts{
    <script src="~/js/Parallax.js"></script>
}