@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/Parallax.css" rel="stylesheet" />
}
<div>
    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>

<div class="parallax" data-parallax="scroll" data-image-src="~/wp3184114.jpg"></div>

<div>

    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>

<div>
    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>
<div>
    <p>
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
        ASDDDDDDDDDDDDDDDDDDDDDDDDDDDD
    </p>
</div>
@section scripts{
    <script src="~/js/parallax.min.js"></script>
}