@model BarViewModel
@{
    ViewData["Title"] = "BarDetails";
    <style>
        .topleft {
            position: absolute;
            top: 150px;
            left: 50px;
        }

        .tableContent {
            position: absolute;
            top: 85px;
            left: 470px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>

}



<div class="topleft">
    <h1>BarDetails</h1>
    <br />
    <div>
        @try
        {
            <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.Picture)))" width="460" height="350" />

        }
        catch (Exception)
        {
            <img src="~/no-image-icon-6.png" width="230" height="172" />
        }

    </div>
    <div class="tableContent">
        <table class="table table-hover">
            @if (Model != null)
            {
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Cocktails</th>

            }
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Address
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>
        </table>

    </div>
</div>