.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "desctipion desctipion desctipion desctipion desctipion desctipion desctipion desctipion" "desctipion desctipion desctipion desctipion desctipion desctipion desctipion desctipion" "desctipion desctipion desctipion desctipion desctipion desctipion desctipion desctipion" "desctipion desctipion desctipion desctipion desctipion desctipion desctipion desctipion" ". . comments comments comments comments . ." ". . comments comments comments comments . .";
}

.desctipion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.4fr 0.6fr;
    grid-template-areas: "picture picture info info bars bars googlemaps googlemaps" "picture picture info info bars bars googlemaps googlemaps" "picture picture info info bars bars googlemaps googlemaps" "picture picture . buttons buttons . googlemaps googlemaps";
    grid-area: desctipion;
}

.picture {
    grid-area: picture;
}

.googlemaps {
    grid-area: googlemaps;
}

.info {
    grid-area: info;
}

.buttons {
    grid-area: buttons;
}

.bars {
    grid-area: bars;
}

.comments {
    grid-area: comments;
}
