@model CocktailViewModel
@{
    ViewData["Title"] = "AddCocktail";
}

<h4>Add Cocktail</h4>
<div>
    <form id="Ingredients" asp-controller="Cocktails" asp-action="AddCocktail">
        <input placeholder="Name..." asp-for="@Model.Name" class="form-control col-md-4">
        Image:
        <input type="file" name="pic" accept="image/*">
        <br>
        <br>
        A cocktail must have at least two ingredients.
        <div id="list">
            @*<div>
            Ingredient 1:
            <select id="list" asp-for="@Model.Ingredients" class="drop" data-position="1">
                <option id="alcohol" value="alcohol">Alcohol</option>
                <option id="sweetener" value="sweetener">Sweetener</option>
                <option id="juice" value="juice">Juice</option>
                <option id="herb" value="herb">Herb</option>
            </select>
        </div>
        <br>
        <div>
            Ingredient 2:
            <select id="list" asp-for="@Model.Ingredients" class="drop" data-position="2">
                <option id="alcohol" value="alcohol">Alcohol</option>
                <option id="sweetener" value="sweetener">Sweetener</option>
                <option id="juice" value="juice">Juice</option>
                <option id="herb" value="herb">Herb</option>
            </select>
        </div>*@
            <br>
            <button type="button" id="addIngredient" class="btn" style="background-color:#ff0000; color:white">Add Ingredient </button>
            <br>
            <br>
            <button type="button" id="addCocktailToBars" class="btn" style="background-color:#ff0000; color:white">Add Cocktail to Bars  </button>

        </div>
        <br>
        <br>
        <button type="submit" class="btn" style="background-color:#ff0000; color:white" />Submit
    </form>
</div>
