<style type="text/css">
    #element1 {
        display: inline-block;
        width: 45%;
        padding: 10px;
    }

    #element2 {
        display: inline-block;
        width: 45%;
        padding: 10px;
    }

    .multiselect {
        width: 20em;
        height: 10em;
        border: solid 1px #c0c0c0;
        overflow: auto;
    }

        .multiselect label {
            display: block;
        }

    .multiselect-on {
        color: #ffffff;
        background-color: #000099;
    }
</style>


@model CocktailViewModel
@{
    ViewData["Title"] = "AddCocktail";
}

<h4>Add Cocktail</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <form id="Ingredients" class="addCocktail" asp-controller="Cocktails" asp-action="AddCocktail" enctype="multipart/form-data">
                <input placeholder="Name..." asp-for="@Model.Name" class="form-control col-md-8" id="cocktail">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                <br>
                Image:
                <input type="file" asp-for="Picture" />
                <br>
                <br>
                A cocktail must have at least two ingredients.
                <div id="list">
                    <button type="button" id="addIngredient" class="btn" style="background-color:#ff0000; color:white"><i class="fa fa-plus-circle"></i></button>
                    <br>
                    <br>
                </div>
                <br>
                <button type="submit" class="btn" style="background-color:#ff0000; color:white" />Submit
            </form>
        </div>
        <div class="col-xs-6" id="BarCocktails">
            <button type="button" id="addCocktailToBars" class="btn" style="background-color:#ff0000; color:white">Add Cocktail to Bars  </button>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial">
}
