<style type="text/css">
    #element1 {
        display: inline-block;
        width: 45%;
        padding: 10px;
    }

    #element2 {
        display: inline-block;
        width: 45%;
        padding: 10px;
    }

    .multiselect {
        width: 20em;
        height: 10em;
        border: solid 1px #c0c0c0;
        overflow: auto;
    }

        .multiselect label {
            display: block;
        }

    .multiselect-on {
        color: #ffffff;
        background-color: #000099;
    }
</style>


@model CocktailViewModel
@{
    ViewData["Title"] = "AddCocktail";
}

<h4>Add Cocktail</h4>
<div>
    <form id="Ingredients" class="addCocktail" asp-controller="Cocktails" asp-action="AddCocktail" enctype="multipart/form-data">
        <input placeholder="Name..." asp-for="@Model.Name" class="form-control col-md-4">
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        Image:
        <input type="file" asp-for="Picture" />
        <br>
        <br>
        A cocktail must have at least two ingredients.
        <div id="list">
            <button type="button" id="addIngredient" class="btn" style="background-color:#ff0000; color:white">Add Ingredient </button>
            <br>
            <br>
            <button type="button" id="addCocktailToBars" class="btn" style="background-color:#ff0000; color:white">Add Cocktail to Bars  </button>

        </div>
        <br>
        <button type="submit" class="btn" style="background-color:#ff0000; color:white" />Submit
    </form>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial">
}
