@model CocktailsViewModel
@{
    ViewData["Title"] = "ManageCocktails";
}

<h3>Manage Cocktails</h3>
<div>
    <form asp-controller="Cocktails" asp-action="ManageCocktails">
        <div class="row">
            <input class="form-control col-md-4" placeholder="Cocktail name..." type="text" asp-for="Input" />
            <button type="submit" class="btn" style="background-color:#ff0000; color:white" id="searchBtn"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

@if (Model != null)
{
    <br>
    <h5>Search Results:</h5>
    <div asp-validation-summary="All" class="text-danger"></div>


    if (!(Model.Cocktails.Count == 0))
    {

        <table id="cocktailTable" class="table table-hover col-md-10">
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>

            @foreach (var cocktail in Model.Cocktails)
            {
                <tr>
                    @if (cocktail.Picture is null)
                    {
                        <td>
                            <img src="~/images/no-image-icon-6.png" width="230" height="172" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(cocktail.Picture)))" width="230" height="172" />

                        </td>

                    }
                    <td>@cocktail.Name</td>
                    <td>
                        <a asp-controller="Cocktails" asp-action="UpdateCocktail" asp-route-id="@cocktail.Id">Update</a>
                    </td>
                    @if (cocktail.IsHidden)
                    {
                        <td> <a id="unhide" data-cocktail="@cocktail.Id" asp-controller="" asp-action="">Unhide</a></td>
                    }
                    else
                    {
                        <td> <a id="hide" data-cocktail="@cocktail.Id" asp-controller="" asp-action="">Hide</a></td>
                    }
                </tr>
            }

        </table>
    }
}

