@model List<CocktailMagician.Data.Entities.BarReview>
@{
    ViewData["Title"] = "_LoadedBarReviewsPartial";
}
<table class="table">
    <th>User:</th>
    <th>Rating:</th>
    <th>Comment:</th>
    @foreach (var barReview in Model)
    {
        <tr>
            <td>
                @barReview.UserName
            </td>
            <td>
                @barReview.Rating
            </td>
            <td>
                @barReview.Comment
            </td>

        </tr>
    }
</table>