@model AddIngredientViewModel
@{
    ViewData["Title"] = "AddIngredient";
    <style>
        body {
            background-image: url('../images/ebece441f102d8f8814625cfa24f7fa0.jpg');
            background-size: cover;
        }

        .backgroundOpacity {
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 10px 35px;
            width: 550px;
        }
        .form-width{
            width: 250px;
        }
        h2 {
            font-size: 50px;
        }
    </style>
}

<div class="backgroundOpacity">
<h2 class="cola">Add Ingredient</h2>
    <form asp-controller="Ingredients" asp-action="AddIngredient">
        <div>
            <input placeholder="Ingredient name..." asp-for="@Model.Name" class="form-control  col-md-4">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        Ingredient type:
        <select asp-for="@Model.Type">
            <option value="alcohol  ">Alcoholic</option>
            <option value="sweetener">Sweetener</option>
            <option value="juice">Juice</option>
            <option value="herb">Herb</option>
        </select>
        <br>
        <button class="btn" style="background-color:#ff0000; color:white" />Add
    </form>
</div>


