@model IngredientsViewModel
@{
    ViewData["Title"] = "ManageIngredients";
    <style>
        body {
            background-image: url('../images/ebece441f102d8f8814625cfa24f7fa0.jpg');
            background-size: cover;
        }

        .backgroundOpacity-search {
            margin: 35px;
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 10px 35px;
            width:550px;
        }

        .form-width {
            width: 250px;
        }
          .backgroundOpacity {
            margin: 35px;
            border-radius: 16px;
            background-color: rgba(255,250,250,0.8);
            padding: 10px 35px;
            width:600px;

        }

        h2 {
            font-size: 50px;
        }

        h3 {
            font-size: 35px;
            padding: 10px;
        }
    </style>
}

<div class="backgroundOpacity-search" >
    <h2 class="cola">Manage Ingredients</h2>
    <form asp-controller="Ingredients" asp-action="ManageIngredients">
        <div class="row">
            <input class="form-control col-md-4" placeholder="Ingredient name..." type="text" asp-for="Input" />
            <button type="submit" class="btn" style="background-color:#ff0000; color:white" id="searchBtn"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

@if (Model != null)
{

    <div class="backgroundOpacity">

        <h3 class="cola">Search Results.</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (!(Model.Ingredients.Count == 0))
        {

            <table class="table table-hover col-md-10">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>

                @foreach (var ingredient in Model.Ingredients)
                {
                    <tr>
                        <td>@ingredient.Name</td>
                        <td>@ingredient.Type</td>
                        <td>
                            <a asp-controller="Ingredients" asp-action="UpdateIngredient" asp-route-id="@ingredient.ID">Update</a>
                        </td>
                        <td> <a asp-controller="Ingredients" asp-action="DeleteIngredient" asp-route-id="@ingredient.ID">Delete</a></td>
                    </tr>
                }

            </table>
        }
    </div>
}